@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MapoAgape';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoAgapeA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#chat-log .card-header,
.archmage.sheet h1,
.archmage.sheet h2,
.archmage.sheet h3,
.archmage.sheet h4,
.archmage.actor-sheet .sheet-header .charname > input,
.archmage.actor-sheet .sheet-header .charlevel .level,
.archmage.actor-sheet .details .character-detail .attribute-label,
.archmage.actor-sheet .primary-attributes .attribute .attribute-name,
.archmage.actor-sheet .statuses .status h4,
.archmage .abilities .ability-name,
.archmage .abilities .ability-header,
.class-header h3,
.class-list .item .class-levels,
.class-list .item .class-name,
.archmage.actor-sheet.npc-sheet .charlevel .initiative,
.archmage-escalation::after,
.compendium .directory-list--archmage h3.entry-group,
.compendium .directory-list--archmage .directory-item,
.compendium .directory-list--archmage .directory-item h4.entry-name a {
	font-family: 'MapoAgape';
}

#chat-log .message,
.archmage.sheet,
.archmage.actor-sheet .primary-attributes .attribute .attribute-value,
.archmage.actor-sheet .primary-attributes .attribute .attribute-value,
.archmage .abilities .ability .ability-score > input,
.archmage .abilities .ability .ability-mod,
.archmage .abilities .ability .ability-lvl,
.archmage-escalation {
	font-family: 'NEXON Lv1 Gothic OTF';
}